{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> 
</head>
<body>
    <div class="main-container">
        <!-- основной контейнер -->
        <div class="columns-container">
            <!-- контейнер для колонок -->
            <div class="rows-container">
                <!-- контейнер для строк -->
                <label>Когда нибудь, здесь что то будет</label>
            </div>
            <div class="rows-container">
                <!-- контейнер для строк -->
                <label>Когда нибудь, здесь что то будет</label>
            </div>
        </div>
        <div class="columns-container">
            <!-- контейнер для колонок -->
            <div class="rows-container">
                <!-- контейнер для строк -->
                <label>Когда нибудь, здесь что то будет</label>
            </div>
            <div class="rows-container">
                <!-- контейнер для строк -->
                <label>Когда нибудь, здесь что то будет</label>
            </div>
        </div>
</body>
</html>