<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лог Дарителей Тепла</title>
</head>
<body>
    <div class="main-container">
        <label>Фильтры и Сортировка</label>
        <table>
            <thead>
                <tr>
                    <th>Название блога</div></th>
                    <th>Принимали участие</th>
                    <th>Дата</th>
                    <th>Именинник</th>
                    <th>Об имениннике</th>
                </tr>
            </thead>
            <tbody>
                <!-- {% for blog in blogs %} -->
                <tr>
                    <td>Боже дай сил</td>
                    <td>Олологрив</td>
                    <td>05.02.95</td>
                    <td>Кто-то</td>
                    <td><a href="/">Посмотреть</a></td>
                </tr>
                <!-- {% endfor %} -->
            </tbody>
        </table>
    </div>
</body>
</html>