<!DOCTYPE html>
<html lang="en">
<head>
    <title>Лог Дарителей Тепла</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css\styles.css' %}">
</head>
<body>
    <div class="main-container">
        
        <div class="w-100">
        <table>
            <thead>
                <tr>
                    <th>Именинник</th>
                    <th>Дата</th>
                    <th>Тип работы</th>
                    <th>Даритель</th>
                </tr>
            </thead>
            <tbody>
                <!-- for цикл для того, чтобы проверять, если есть именинник с работой - добавляет. Скорее всего лучше делать по id работы, но не уверена  -->
                <tr>
                    <td>Имечко красивое</td>
                    <td>14.05.2024</td>
                    <td>текст</td>
                    <td>Пельмень обыкновенный</td>
                </tr>
                <!-- конец for -->
            </tbody>
        </table>
    </div>
    </div>
</body>
</html>