* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
  gap: 20px;
}

.columns-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: 20px;
}

.rows-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-auto-flow: row;
    gap: 20px;
    size: 200px;
}