* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  gap: 20px;
  background-color: blue;
}

.columns-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-auto-flow: column;
    gap: 20px;
    grid-template-areas: 
    "row-1 row-2";
}

.rows-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;

    gap: 20px;    
}

.item1 {
    grid-area: row-1;
}

.item2 {
    grid-area: row-2;
}

label {
    text-align: center;
}
/* основной контейнер, содержащий две колонки: одну для самого календаря, другую для перелистывания месяцев */
.main-calendar-container {
    display: grid;
    grid-template-columns: auto auto;
}
/* сам календарь */
.calendar-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
}

.birthday-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-flow: row;
}