$bg-color: #e0e5ec; // Основной цвет фона 
$light-shadow-color: #ffffff; // Цвет светлой тени
$dark-shadow-color: #a3b1c6; // Цвет темной тени 

$border-radius-large: 20px;
$border-radius-medium: 12px;
$border-radius-small: 8px;

$text-color: #555;
$link-color: #3498db;
$link-hover-color: #2980b9;